@model ConlluParser.Models.ConlluCorpus

<p>@Model.NumSentences sentences</p>
<p>@Model.NumComments comments</p>
<p>@Model.NumLines lines</p>
<p>@Model.NumPunctuationLines lines (punctuation)</p>
<p>@Model.NumLinesWithRanges lines (range)</p>
<p>@Model.NumLinesWithSubindexes lines (subindexes)</p>