@model ConlluParser.Models.ConlluParserViewModel

@{
    ViewBag.Title = "Home";
}

<style>
    .preview {
        white-space: pre;
        font-family: monospace, monospace;
        font-size: 10px;
    }
</style>

<h2>CoNLL-U Parser</h2>
<div class="row">
    <div class="col-md-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-6">Corpus name</label>
                <div class="col-md-6">
                    @Html.DropDownList("corpus", ConlluParser.Models.ConlluParserViewModel.CorpusNames.Select(item => new SelectListItem
                   {
                       Value = item,
                       Text = item,
                       Selected = (item == ViewBag.SelectedCorpus)
                   }), new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-6">Dataset</label>
                <div class="col-md-6">
                    @Html.DropDownList("dataset", ConlluParser.Models.ConlluParserViewModel.Datasets.Select(item => new SelectListItem
                    {
                        Value = item,
                        Text = item,
                        Selected = (item == ViewBag.SelectedDataset)
                    }), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Params.ToLowerCase, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-offset-1 col-md-5">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Params.ToLowerCase)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Params.RemovePunctuation, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-offset-1 col-md-5">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Params.RemovePunctuation)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Params.RemoveComments, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-offset-1 col-md-5">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Params.RemoveComments)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Params.RemoveRangeLines, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-offset-1 col-md-5">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Params.RemoveRangeLines)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Params.RemoveSubindexLines, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-offset-1 col-md-5">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Params.RemoveSubindexLines)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Params.DivideWithEmptyLines, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-offset-1 col-md-5">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Params.DivideWithEmptyLines)
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <input type="submit" name="submit" value="Preview" class="btn btn-default" onclick="javascript: document.body.style.cursor = 'wait'" />
                    <div>
                        <br />
                        @Html.Partial("_PreviewStats", Model.Corpus)
                    </div>
                </div>
                <div class="col-md-4">
                    <input type="submit" name="submit" value="Download" class="btn btn-default" />
                </div>
            </div>
        </div>
        }

    </div>
    <div class="col-md-7 preview">@Model.Corpus.GetOutput(Model.Params.DivideWithEmptyLines, maxLines: 1000)</div>
</div>

<script>
    $(document).ready(function () {
        document.body.style.cursor = 'default';
    })
</script>